.forgotPassContainer {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.ForgotPassImg {
  display: flex;
  padding-top: 10%;
  align-items: top;
  justify-content: center;
}

.ForgotPassForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  padding-right: 2.625rem;
}

.createAcc {
  align-self: end;
  position: absolute;
  top: 0;
  padding-top: 3.75rem;
}

.forgotPass {
  color: #53b88c !important;
  align-self: end;
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 1.4rem;
}
